@media (min-width: 576px) {
    body {
        max-width:  540px;
    }
}
@media (min-width: 768px) {
    body {
        max-width:  720px;
    }
}
@media (min-width: 992px) {
    body {
        max-width:  960px;
    }
}
@media (min-width: 1230px) {
    body {
        max-width:  1230px;
    }
}

body {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    color: #FFF;
    background: #232733;
}

.circle {
    padding: 10px 20px;
    font-size: 25px;
    color: #000;
    background: #E8EFF8;
    border: 2px solid #000;
    border-radius: 50%;
}
.divider {
    margin: 5px auto;
    height: 70px;
    border: 1px dashed #FFF;
}

.custom-btn {
    margin: 12px 5px;
    padding: 12px 30px;
    width: 180px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(99, 90, 255);
    background: rgb(53, 56, 72);
    box-shadow: rgba(53, 56, 72, 0.14) 0px 2px 2px 0px, rgba(53, 56, 72, 0.2) 0px 3px 1px -2px, rgba(53, 56, 72, 0.12) 0px 1px 5px 0px;
    border: 0;
    border-radius: 30px;
}

header {
    margin-bottom: 30px;
    padding-top: 10%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section aside {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section div.btn-group {
    display: flex;
    flex-direction: column;
}
section div.connect-btn {
    width: 190px;
    height: 64px;
}
section div.btn-group span {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 17px;
    line-height: 64px;
}
section div.btn-group > input {
    margin-top: 86px;
}
